name: Coverage Test

on:
  push:
    branches: [main, dev, tests]
  pull_request:
    branches: [main, dev, tests]
    
jobs:
  coverage:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        node: ['16', '18']

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'

      - name: Cache Dependencies
        uses: actions/cache@v3
        with:
          path: |
            - ~/.npm
            - **/node_modules
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-

      - name: Install dependencies
        run: npm install

      - name: Run tests and collect coverage
        run: npm test -- --coverage

      - name: Upload coverage to Codecov
        uses:  codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }} 
          fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)
